.count-of-facts-form {
  margin: 250px auto;
  margin-bottom: 50px;
  width: 25%;
}

.count-of-facts-form--input {
  width: 100%;
  border: none;
  border-bottom: 2px solid green;
  height: 50px;
  font-size: 2em;
  text-align: center;
  color: green;
}

.count-of-facts-form--input:focus {
  outline: none;
}

.count-of-facts-form--input::placeholder {
  font-size: 0.5em;
}
